:root {
    --primary-color: #f3d25f;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #f9f9f9;
    color: #999;
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4 {
    color: #000;
}

a{
    color: white;
    text-decoration: none;
}

p{
    margin: 0.5rem 0;
}

img {
    width: 100%;
}
/* scroll down */
#section01 a {
    padding-top: 60px;
  }
  #section01 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
  }
.demo a {
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 3;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    font : normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
  }
  .demo a:hover {
    opacity: .5;
  }
  /* end of scroll down  */

/*  showcase */
.showcase {
    width: 100%;
    height: 100vh;
    position: relative;
    background: url(../images/gift.jpg) no-repeat center center/cover;
}
.showcase h1 {
    color: #fff;
}
.showcase::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0,0,0, 0.6);
    box-shadow: inset 120px 100px 250px #000, inset -120px -100px 250px #000;

}
.showcase-content {
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 15rem;
    z-index: 2;
}
.showcase-content h1 {
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 1.1;
    margin-bottom: 2rem;
}

.showcase-content h1 span {
    color: #c9ad4f;
}

.showcase-content p {
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.25;
    margin:2rem ;
}

.showcase-top{
    position: relative;
    height: 90px;
    z-index: 2;
}

.showcase-top h1 {
    width: 170px;
    color: var(--primary-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/* end of showcase */
.container {
    max-width: 1100px;
    margin:auto;
    overflow: auto;
    padding: 0 2rem;
}
.card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    background: #f1f1f1;
    margin-bottom: 2rem;
}
.card h3 {
    margin-bottom: 2rem;
}
.card img{
    max-width: 100%;
    height: auto;
    display: block;
    
}
.card > div{
    padding: 2rem;
}
.card:nth-child(even) img {
    order: 2;
}

.btn{
    display: inline-block;
    background: #000;
    color: #fff;
    padding: 0.8rem 1.8rem;
    margin-top: 2rem;
    cursor: pointer;
}
.btn:hover{
    opacity: 0.8;
}

@media (max-width: 700px) {
    .card{
        display: block;
    }
}
.pubg {
    margin-top: 3rem;
}
.pricing ul li {
     color: #000;
     font-size: 1.2em;
     line-height: 2.5;
     font-weight: bold;
}
.pricing ul li span {
    color: #c9ad4f;
    font-weight: bolder;
}
.pricing .blue {
    color: #2b93a0;
}
.pricing .purple{
    color: #d40a99;
    font-weight: bolder;
}
.pricing .red{
    color: 	#B22222;
    font-weight: bolder;
}
.pricing .dark{
    color: 	#000000;
    font-weight: bolder;
}
.pricing .psn {
    color: #2208c4;
    font-weight: bolder;
}
.pricing .green {
    color: rgb(8, 88, 8);
    font-weight: bolder;
}
.pricing .amazon li {
    color: #696969;
    font-weight: bold;
}
.pricing .green{
    color: #008000;
}
/* footer */
.copy-right {
    padding-top: 30px;
    padding-bottom: 30px;
    background: #303036;
  }
  
  .copy-right-content {
    text-align: center;
  }
  
  .copy-right-content p {
    margin-bottom: 0;
    color: var(--blackColor);
    font-weight: 600;
  }
  
  .copy-right-content p a {
    font-size: 18px;
    font-weight: bold;
    color: var(--primary-color);
  }
  @media(max-width: 960px) {
      .showcase {
          height: 90vh;
      }
      .showcase-top .logo {
          top: 30%;
          left: 35%;
          transform: translate(0);
          text-align: left;
      }
      .showcase-content h1 {
          font-size: 3.2rem;
          line-height: 1;
      }
      .showcase-content p {
        visibility: hidden;
    }
   .demo a {
       left: 45%;
   }
   .showcase::after {
    box-shadow: inset 70px 70px 250px #000, inset -70px -70px 250px #000;
   }
   .container {
       overflow: hidden;
   }
   .pricing ul li {
   font-size: 1rem;
}
.pricing ul li span {
    font-size: 1rem;
}
footer {
    font-size: 0.8rem;
}
footer span {
    font-size: 1rem;
}
  }
  @media (max-width: 700px) {
      .showcase-content {
          text-align: center;
          /* bottom: 30%; */
      }
      .showcase-content h1,span {
          font-size: 2rem;
          
      }
      .showcase-content p {
          visibility: hidden;
      }
     .demo a {
         left: 45%;
     }
     .showcase::after {
        box-shadow: inset 70px 70px 250px #000, inset -70px -70px 250px #000;
     }
  }